@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.col {
  padding: 0px;
  background: white;
  border: 1px solid rgb(65, 65, 65);
  height: 72px;
  cursor: pointer;
}

.header {
  text-align: center;
  padding: 20px;
  margin-top: 50px;
  font-family: 'Righteous', sans-serif;
  font-size: 50px;
}

.usernamediv{
  text-align: center;
  padding-top: 100px;
  font-family: 'Righteous', sans-serif;
  font-size: 20px;
}

input {
  width: 10%;
}

.flexContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Righteous', sans-serif;
}

.setButtons {
  justify-content: center;
  text-align: center;
  margin-top: 40px;
}

.single {
  padding-right: 100px;
  text-align: center;
}

.multi {
  text-align: center;
  padding-bottom: 72px;
}

.menu {
  padding-left: 75px;
}
ul {
  list-style-type: none;
  padding-top: 15px;
}

.button {
  margin-right: 10px;
  margin-top: 10px;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:6px;
	border:2px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family: 'Righteous', Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}

.button:hover {
  background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}

.button:active {
  position:relative;
	top:1px;
}

.reset {
  margin-top: 10px;
}

.marking {
  width: 100%;
  height: 100%;
  font-size: 40px;
  text-align: center;
  vertical-align: middle;
}

.leaderimg {
  max-width: 45px;
  max-height: auto;
  padding-right: 10px;
}

.leadertext {
  display: flex;
  align-items: center;
  font-size: 22px;
}

.menuSelect {
  display: flex;
  align-items:center;
  font-size: 22px;
  cursor: pointer;
  padding-bottom: 15px;
}

.menuIcon {
  max-width: 45px;
  max-height: auto;
  padding-right: 10px;
  cursor: pointer;
}

.selectorLeft {
  max-width: 16px;
  max-height: auto;
  margin-right: 5px;
  cursor: pointer;
}

.selectorRight {
  max-width: 16px;
  max-height: auto;
  margin-left: 5px;
  cursor: pointer;
}

.aiMenu {
  font-size: 18px;
}

.turnTimerDiv {
  font-size: 18px;
}

.turnWarnDiv {
  font-size: 18px;
}

.iconSelect {
  max-width: 40px;
  max-height: auto;
}

.subHeader {
  font-family: 'Righteous', sans-serif;
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
}

.countdown {
  text-align: center;
  font-family: 'Righteous', sans-serif;
  font-size: 20px;
}

.timerText {
  color: black;
}

.marking-x {
  color: lightblue;
}

.marking-o {
  color: lightcoral;
}

.alert {
  margin-top: 20px;
  text-align: center;
  display: none;
}

.board {
  margin: 0 33%;
  max-width: 190px;
}

.container {
  text-align: center;
  margin-top: -20px;
  font-family: 'Righteous', sans-serif;
}

.outDiv {
  margin-bottom: -20px;
}

.gameOverDialog {
    position: absolute;
    top: 50%; left: 50%; 
	transform: translate(-50%, -50%);
    background-color: white;
}

.gameOverOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.2);
}

.centerAlign {
	text-align: center;
}
  
#ai {
  background: #d4edda;
}

#container {
  width: 600px;
  height: 500px;
  background-color: white;
}

#game-ID {
  font-family: 'Righteous', sans-serif;
  text-align: center;
  font-size: 18px;
  margin-top: -40px;
}